body  {
	font-size : 11px;
     	font-family : tahoma, verdana, arial, helvetica;
     	color :#FFFF33;
     	font-weight : bold;
     	text-decoration : none;
}

td  {
	font-size : 11px;
     	font-family : tahoma, verdana, arial, helvetica;
     	color :#FFFF33;
     	font-weight : bold;
     	text-decoration : none;
}

th  {
	font-size : 10px;
     	font-family : tahoma, verdana, arial, helvetica;
     	color :#FFFFFF;
     	font-weight : bold;
     	text-decoration : none;
        text-align : left;
}

